// see node_modules/bootstrap/scss/_variables.scss for variables

$primary:       #014270;
$secondary:     #6c757d;
$success:       #42a85f;
$info:          #2d6ba6;
$warning:       #f48a06;
$danger:        #e54d42;
$light:         #f8f9fa;
$dark:          #343a40;

$theme-colors: (
        "primary":    $primary,
        "secondary":  $secondary,
        "success":    $success,
        "info":       $info,
        "warning":    $warning,
        "danger":     $danger,
        "light":      $light,
        "dark":       $dark
);
